html {
  font-size: 15px;
}
body {
  background: url("../images/bg_app.jpg") top center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  color: #777777;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", Arial, sans-serif;
  color: #658ffc;
  font-weight: 300;
}
a {
  color: #658ffc;
}
label,
p {
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #E8E8E8;
  height: auto;
  line-height: 1.9rem;
  background: #FCFCFC;
  box-shadow: inset 0 1px 2px #f2f2f2;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
textarea:focus {
  background: #FFF;
  box-shadow: 1px 1px 2px #e5e5e5;
  border-color: #66a5ed;
}
.button,
button {
  font-family: "Roboto", sans-serif;
  border-radius: 20px;
  font-size: 1rem !important;
  background: #658ffc;
  color: #ffffff;
  text-transform: uppercase;
  transition: all .3s;
}
.button:disabled,
button:disabled {
  opacity: 0.6;
}
.button:focus,
button:focus {
  outline: none;
}
.button:hover,
button:hover {
  background: #7ecaff;
}
.button:active,
button:active {
  background: #658ffc;
}
#main-menu {
  background: #ebebeb;
  overflow: auto;
  position: absolute;
  bottom: 0;
  top: 0;
}
#main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#main-menu a {
  padding: 8px 0;
  display: block;
  color: #658ffc;
  transition: all .2s;
  border-radius: 0;
}
#main-menu a:hover,
#main-menu a:focus {
  border: none;
  background: #658ffc;
  color: #ffffff;
}
#main-menu a:hover .main-menu-icon,
#main-menu a:focus .main-menu-icon {
  background: #ffffff;
  color: #658ffc;
}
.main-menu-icon {
  background: #658ffc;
  color: #ffffff;
  border-radius: 200px;
  padding: 13px;
  line-height: 3.8rem !important;
  font-size: 1.8rem;
  transition: all .2s;
}
.block-form {
  background: #EFEFEF;
}
.block-form-logo {
  background: #658ffc;
  height: 100px;
}
.block-content-list {
  background: #FFF;
  padding-bottom: 5px;
  border: 1px solid #CCC;
}
.block-content-list-head {
  background: #658ffc;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px;
}
.block-content-list-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.block-content-list-body ul li {
  padding: 0 10px;
}
.block-content-list-body ul li:hover {
  background: #ebebeb;
}
.block-content-list-body .item {
  padding: 10px 0;
  border-bottom: 2px solid #ebebeb;
}
.block-contacts {
  background: #EBEBEB;
}
.block-online-head {
  background: #7cd919;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px;
}
.block-online-head label {
  color: #ffffff !important;
}
.block-contacts {
  background: #EBEBEB;
}
.block-contacts ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.block-contacts ul a {
  line-height: 17px;
  padding: 13px 10px;
  display: block;
  color: #000;
}
.block-contacts ul a img {
  margin-right: 5px;
  margin-top: -8px;
  float: left;
  vertical-align: middle;
}
.block-contacts ul a:hover {
  background: #FFF;
}
.block-offline-head {
  background: #e11335;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px;
}
#header {
  background: rgba(255, 255, 255, 0.12);
  padding: .5rem 1.5rem;
  margin-bottom: .5rem;
}
.content-bar {
  background: #658ffc;
  color: #ffffff;
  overflow: auto;
  vertical-align: middle;
}
.content-bar label {
  margin: 0;
  color: #ffffff;
}
.content-bar .icon-search {
  line-height: 43px;
  font-size: 20px;
  vertical-align: middle;
}
.content-bar input,
.content-bar input:hover,
.content-bar input:focus {
  background: none;
  border: none;
  box-shadow: none;
  color: #ffffff;
  margin: 0 !important;
}
.content-bar a {
  color: #ffffff;
}
.content-bar a:hover {
  color: #7ecaff;
}
.content-bar .actions a {
  display: inline-block;
  font-size: 25px;
  line-height: 43px;
  padding: 0 8px;
  transition: all .3s;
}
.content-bar .actions a:hover {
  background: #575dbb;
}
.block-white {
  background: #FFF;
  border-radius: 3px;
  /* Rectangle 23: */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.icon16 {
  font-size: 16px;
}
.icon23 {
  font-size: 23px;
}
.icon32 {
  font-size: 32px;
}
.icon64 {
  font-size: 64px;
}
.content {
  padding: 1.5rem;
}
.inner-column {
  margin: 0 -0.9375rem;
}
.header-logo {
  width: 80px;
}
.text-info {
  color: #a8a8a8;
  font-size: .9rem;
}

/*# sourceMappingURL=app.css.map */