@import "global";
@import "menu";

@width-main-menu: 120px;

//Blocks
.block-form
{
  background: #EFEFEF;
}
.block-form-logo
{
  background: @primary-color;
  height: 100px;
}


//---------------------------------- block content list
.block-content-list
{
  background: #FFF;
  padding-bottom: 5px;
  border:1px solid #CCC;
}
.block-content-list-head{
  background: @primary-color;
  color: @primary-color-negative;
  font-size: 1.2rem;
  padding: 10px;
}
.block-content-list-body{

}
.block-content-list-body ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.block-content-list-body ul li{
  padding: 0 10px;
}
.block-content-list-body ul li:hover{
  background: #ebebeb;
}
.block-content-list-body .item{
  padding: 10px 0;
  border-bottom: 2px solid #ebebeb;
}

//---------------------------------------------- online contacts
.block-contacts
{
  background: #EBEBEB;
}
.block-online-head
{
  background: @online-color;
  color: @primary-color-negative;
  font-size: 1.2rem;
  padding: 10px;
}
.block-online-head label
{
  color: @primary-color-negative !important;
}

//--------------------------------------------- offline contacts
.block-contacts
{
  background: #EBEBEB;
}
.block-contacts ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}
.block-contacts ul a
{
  line-height: 17px;
  padding: 13px 10px;
  display: block;
  color: #000;
}
.block-contacts ul a img
{
  margin-right: 5px;
  margin-top: -8px;
  float: left;
  vertical-align: middle;
}
.block-contacts ul a:hover
{
  background: #FFF;
}

.block-offline-head
{
  background: @offline-color;
  color: @primary-color-negative;
  font-size: 1.2rem;
  padding: 10px;
}



//------
#header
{
  background: rgba(255, 255, 255, .12);
  padding: .5rem 1.5rem;
  margin-bottom: .5rem;
}
#content
{
}

.content-bar
{
  background: @primary-color;
  color: @primary-color-negative;
  overflow: auto;
  vertical-align: middle;
}
.content-bar label
{
  margin: 0;
  color: @primary-color-negative;
}
.content-bar .icon-search
{
  line-height: 43px;
  font-size: 20px;
  vertical-align: middle;
}
.content-bar input, .content-bar input:hover, .content-bar input:focus
{
  background: none;
  border:none;
  box-shadow: none;
  color: @primary-color-negative;
  margin: 0 !important;
}
.content-bar input:hover
{

}
.content-bar a
{
  color: @primary-color-negative;
}
.content-bar a:hover
{
  color: @primary-color-hover;
}
.content-bar .actions a
{
  display: inline-block;
  font-size: 25px;
  line-height: 43px;
  padding: 0 8px;
  transition: all .3s;
}
.content-bar .actions a:hover
{
  background: @primary-color-dark;
}

//--------------------------- Global clases
.block-white
{
  background: #FFF;
  border-radius: 3px;
  /* Rectangle 23: */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
}
.icon16{font-size: 16px;}
.icon23{font-size: 23px;}
.icon32{font-size: 32px;}
.icon64{font-size: 64px;}
.content
{
  padding: 1.5rem;
}
.inner-column
{
  margin: 0 -0.9375rem;
}
.header-logo
{
  width: 80px;
}
.text-info{
  color: #a8a8a8;
  font-size: .9rem;
}