//main menu
#main-menu
{
  background: #ebebeb;
  overflow: auto;
  position: absolute;
  bottom: 0;
  top: 0;
}

#main-menu  *
{
  //outline: 1px solid rgba(0, 255, 0, .5);
}
#main-menu ul
{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#main-menu a
{
  padding: 8px 0;
  display: block;
  color: @primary-color;
  transition:all .2s;
  border-radius: 0;
}
#main-menu a:hover, #main-menu a:focus
{
  border:none;
  background: @primary-color;
  color: @primary-color-negative;
}
#main-menu a:hover .main-menu-icon, #main-menu a:focus  .main-menu-icon
{
  background: @primary-color-negative;
  color:@primary-color;
}
.main-menu-icon
{
  background: @primary-color;
  color:@primary-color-negative;
  border-radius: 200px;
  padding: 13px;
  line-height: 3.8rem !important;
  font-size: 1.8rem;
  transition: all .2s;
}